.GridContainer{
  height: 100vh;
  display: grid;
  grid-template-areas:"nav nav"
                      "side cate"
                      "side content";
  grid-template-columns: 73px 1fr;
  grid-template-rows: 55px 55px 1fr;
}

.GridContainer > .Navbar {
  background-color: white;
  grid-area: nav;
}

.GridContainer > .Sidebar {
  background-color: white;
  grid-area: side;
}

.GridContainer > .Categories {
  background-color: white;

  border-top: 1px rgb(225, 225, 225) solid;
  border-bottom: 1px rgb(225, 225, 225) solid;
  grid-area: cate;
}
 
.GridContainer > .Content {
  background-color: rgb(245, 245, 245);
  grid-area: content;
}

